---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "glance.fullname" . }}
  labels:
    {{- include "glance.labels" . | nindent 4 }}
data:
  glance.yml: | {{ .Values.glance | toYaml | nindent 4 }}
