name: Build, Test & Lint

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v -race ./...

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
